<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div #toanimate class="card animated fadeInRight">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon hovericon" (click)="onCloseAdding('master', 'blocks')">
                            <i class="material-icons">close</i>
                        </div>
                        <h4 class="card-title">Add Block</h4>
                    </div>
                    <div class="card-body ">
                        <form>
                            <mat-form-field class="example-full-width">
                                <input #classname matInput placeholder="Block name" name="blockname" [(ngModel)]="block.name" type="Text" autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input #classname matInput placeholder="Sort" name="sort" [(ngModel)]="block.sort" type="Text" autocomplete="off">
                            </mat-form-field>

                            <div>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-primary" (click)="addBlock(block)">Add
                  Block</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>