<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div #toanimate class="card animated fadeInRight ">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon hovericon" (click)="onCloseAdding()">
                            <i class="material-icons">close</i>
                        </div>
                        <h4 class="card-title">View Personal Notification</h4>
                    </div>
                    <div class="card-body ">
                        <form>

                            <mat-form-field>
                                <mat-select disabled placeholder="Select Type" name="notificationType"
                                    [(ngModel)]="pnotification.type">
                                    <mat-option *ngFor="let item of notifyTypes$ | async" value="{{item.notificationTypeId}}">
                                        {{item.data.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" name="Title" [(ngModel)]="pnotification.title"
                                    type="text" autocomplete="off" disabled>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Message" name="Message"
                                    [(ngModel)]="pnotification.msgDesc" type="text" autocomplete="off"
                                    disabled></textarea>
                            </mat-form-field>

                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>