<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div #toanimate class="card animated fadeInRight">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon hovericon" (click)="onCloseAdding()">
                            <i class="material-icons">close</i>
                        </div>
                        <h4 class="card-title">Add Personal Notification</h4>
                    </div>
                    <div class="card-body ">
                        <form>

                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Choose Notification Type" name="notifyType"
                                    [(ngModel)]="pnotification.type">
                                    <mat-option *ngFor="let item of notifyType$ | async"
                                        value="{{item.notificationTypeId}}">
                                        {{item.data.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="MsgTitle" name="msgTitle" [(ngModel)]="pnotification.title"
                                    type="text" autocomplete="off">
                            </mat-form-field>


                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Msg Description" name="msgDesc"
                                    [(ngModel)]="pnotification.msgDesc" type="text" autocomplete="off"></textarea>
                            </mat-form-field>

                            <div>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-primary"
                                    (click)="addPNotification(pnotification)">Add
                                    Notification</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>