<div class="main-content">
    <!-- <ng-progress [color]="'#7BB758'" [showSpinner]="false"></ng-progress> -->


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th>{{ dataTable.headerRow[3] }}</th>
                                        <th>{{ dataTable.headerRow[4] }}</th>
                                        <th>{{ dataTable.headerRow[5] }}</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th>{{ dataTable.headerRow[3] }}</th>
                                        <th>{{ dataTable.headerRow[4] }}</th>
                                        <th>{{ dataTable.headerRow[5] }}</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let item of flats$ | async; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.data.flatNo}}</td>
                                        <td *ngIf="item.blockName| async as block">{{block.name}}</td>
                                        <td *ngIf="item.houseType| async as houseType">{{houseType.type}}</td>
                                        <td *ngIf="item.owner| async as owner">{{owner.firstName}}&nbsp;{{owner.lastName}}</td>
                                        <td>
                                            <button mat-raised-button type="button" (click)="sendPersonalNotification(item)"
                                                class="btn btn-just-icon btn-success btn-link">
                                                <i class="material-icons">message</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>








                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>