<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card animated fadeIn">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon" (click)="onAddGeneralNotification()">
                            <i class="material-icons">add</i>
                        </div>
                        <h4 class="card-title ">General Notifications</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of generalNotification$| async">

                                        <td>{{item.data.title}} </td>
                                        <td>{{item.data.msgDesc | slice:0:13}} </td>
                                        <td>{{item.data.createdOn.toDate() | date: 'dd-MM-yyyy' }} </td>
                                        <!-- <td>{{item.data.sort}} </td> -->
                                        <td>


                                            <button mat-raised-button type="button" (click)="onEditgNotification(item)"
                                                class="btn btn-just-icon btn-success btn-link">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" (click)="onViewgNotification(item)"
                                                class="btn btn-just-icon btn-success btn-link">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                            <button mat-raised-button (click)="onDeletegNotification(item)"
                                                type="button" class="btn btn-just-icon btn-danger btn-link">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>



                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>



            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>