<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div #toanimate class="card animated fadeInRight">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon hovericon" (click)="onCloseAdding()">
                            <i class="material-icons">close</i>
                        </div>
                        <h4 class="card-title">Edit General Notification</h4>
                    </div>
                    <div class="card-body ">
                        <form>

                            <mat-form-field>
                                <mat-select placeholder="Select Type" name="notificationType"
                                    [(ngModel)]="gnotification.type">
                                    <mat-option *ngFor="let item of notifyTypes$ | async" value="{{item.notificationTypeId}}">
                                        {{item.data.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" name="Title" [(ngModel)]="gnotification.title" type="text" autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Message" name="Message" [(ngModel)]="gnotification.msgDesc" type="text" autocomplete="off"></textarea>
                            </mat-form-field>

                            <div>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-primary" (click)="EditGNotification(gnotification)">Edit Notification</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>