<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div #toanimate class="card animated fadeInRight">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon hovericon" (click)="onCloseAdding('master', 'flats')">
                            <i class="material-icons">close</i>
                        </div>
                        <h4 class="card-title">Add Flat</h4>
                    </div>
                    <div class="card-body ">
                        <form>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter flat no." name="flatNo" [(ngModel)]="flat.flatNo"
                                    type="number" autocomplete="off">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Choose Block" name="blockName" [(ngModel)]="flat.blockName">
                                    <mat-option *ngFor="let item of blocks$ | async" value="{{item.blockId}}">
                                        {{item.data.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Choose flat type" name="flatType" [(ngModel)]="flat.houseType">
                                    <mat-option *ngFor="let item of houseTypes$ | async" value="{{item.houseTypeId}}">
                                        {{item.data.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Choose Owner" name="flatType" [(ngModel)]="flat.ownerId">
                                    <mat-option *ngFor="let item of owners$ | async" value="{{item.ownerId}}">
                                        {{item.data.firstName}}&nbsp;{{item.data.lastName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Owner Status" name="ownerStatus"
                                    [(ngModel)]="flat.ownerStatus">
                                    <mat-option value="resident">
                                        Resident
                                    </mat-option>
                                    <mat-option value="non-resident">
                                        Non-resident
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <div>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-primary"
                                    (click)="addFlat(flat)">Add
                                    Flat</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>