<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card animated fadeIn">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon" (click)="onAddFlat()">
                            <i class="material-icons">add</i>
                        </div>
                        <h4 class="card-title ">Flats</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of flats$| async">
                                        <td>{{item.data.flatNo}} </td>
                                        <td *ngIf="item.blockName| async as block">{{block.name}} </td>
                                        <td *ngIf="item.houseType| async as houseType">{{houseType.type}} </td>
                                        <td *ngIf="item.owner| async as owner">{{owner.firstName}}&nbsp;{{owner.lastName}} </td>
                                        <td>


                                            <button mat-raised-button (click)="onDeleteFlat(item)" type="button"
                                                class="btn btn-danger btn-link">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>



                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>



            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>